<% @menu_title =  t("page.all_pages") %>

<% content_for :menu_options do %>
  <ul>
    <% for page in @pages do %>
        <li class="store_menu_link">
          <%= nav_link_id page.title, 'pages', 'preview', page %>
        </li>
        <% if page == @page %>
          <div class="categories_links">
            <li>
              <% link_to edit_page_url(page) do %>
                <%= image_tag 'document_edit.png', :size => '15x15', :align => :top %>
                <%= t('edit') %>
              <% end %>
            </li>
            <li>
              <% link_to page, :confirm => t('confirm'), :method => :delete  do %>
                <%= image_tag 'document_delete.png', :size => '15x15', :align => :top %>
                <%= t('delete') %>
              <% end %>
            </li>
          </div>
        <% end %>
      <% end %>
      <li class="store_menu_link">
        <% link_to new_page_url do %>
          <%= image_tag 'document_add.png', :size => '15x15', :align => :top %>
          <%= t('page.new_page') %>
        <% end %>
      </li>
    </ul>
  <% end %>

  <div class="content">
    <%= @page.body %>
  </div>
